{% extends "layout.html" %}
{% block title %}Timely{% endblock %}

{% block content %}

<div class="container">
    <div class="leaderboard">
        {% for t in timeline %}
            <div class="panel panel-default">
              <div id='bit_titile_{{ loop.index }}'>
                  {{ t[0] }}
              </div>
              <div id='bit_link_{{ loop.index }}'>
                  <a href='{{ t[1] }}' target='_blank'>
                  {{ t[1] }}&nbsp;
                  </a>
              </div>
              <div class="btn-group btn-group-xs">
                <button id="btn_share_{{ loop.index }}" class="btn btn-primary"
                    data-toggle="modal" data-target=".bs-example-modal-sm">
                    Share
                </button>
              </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade bs-example-modal-sm"
  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Share to...</h4>
      </div>
      <div class="modal-body">
        {% for field in form.errors %}
          {% for error in form.errors[field] %}
            <div class="alert alert-error">
              <strong>Oops...</strong> {{error}}.
            </div>
          {% endfor %}
        {% endfor %}
        <form method="POST" action="/index">
          {{ form.csrf_token }}
          <span><i>Preview</i></span>&nbsp;<span id="chars_counter"></span>
          {{ form.share_txt(cols="40", rows="3")|safe }}
          {{ form.share_at }}
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="submit_share" type="button" class="btn btn-primary">Tweet</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% if form.errors %}
  <script type="text/javascript">
    console.log('Error');
    $('.bs-example-modal-sm').modal('show');
  </script>
{% endif %}

<script type="text/javascript">
  $('[id^=btn_share_]').on('click', function (e) {
      // open dialog box
      var btn_id = e.target.id.replace('btn_share_', '');
      var text = jQuery.trim($('#bit_titile_' + btn_id)[0].innerHTML);
      var link = $('#bit_link_' + btn_id + ' a');
      $("#share_txt" ).html( text + ' ' + link.attr('href'));
      $("#share_at" ).val(
        getTodayStr()
        );
      udate_left_chars();
  });

  $('#submit_share').on('click', function (e) {
    form = e.target.form;
    $('.bs-example-modal-sm').modal('hide');
    form.submit();
});

function udate_left_chars () {
  var text = $('#share_txt').val();
  $("#chars_counter").text("(" + (140 - text.length) + ")");
  if((140 - text.length) < 3 )
    $("#chars_counter").css('color', 'red');
  else
    $("#chars_counter").css('color', 'black');
}

$(document).ready(function(){
 //attach with the id od deductions
  $("#share_txt").bind("keydown",udate_left_chars);
});

</script>


{% endblock %}
