{% extends "layout.html" %}
{% block title %}Timely{% endblock %}

{% block content %}

<div class="container">
    <div class="leaderboard">
        {% for j in jobs %}
            <div class="panel panel-default">  
              <div id='job_{{ loop.index }}'>
                <a href = "Javascript: run_job('{{ j[0].id }}');">
                  <span class="glyphicon glyphicon-play"></span>
                </a>
                <a href = "Javascript: delete_job('{{ j[0].id }}');">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
                <b>Job:</b>({{ j[0].id  }}) - {{ j[0].description }} <b>Start at</b>:{{ j[1] }}
              </div>
            </div>
        {% endfor %}

    </div>
</div>

<script type="text/javascript">
  function delete_job(job_id) {
    if(window.confirm("Are you sure you want do delete the job?"))
      window.location.replace("/job/delete/" +  job_id);
  }

  function run_job(job_id) {
    if(window.confirm("Are you sure you want do start the job?"))
      window.location.replace("/job/start/" +  job_id);
  }

</script>

{% endblock %}
